.weathertells{
    width: 100%;
    height: 90px;

display: flex;
align-items: center;


/* padding-left: 50px; */
/* background-color: pink; */
}
.imgofweathertells{
    width: 60px;
    margin-left: 70px;
}
.textofweathertells{
    font-size: 40px;
    color: white;
    margin-left: 20px;
    color: rgb(12, 87, 117)
}